p {
    font-size: 20px
}

.Creatorinfo-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    /* max-width: 1120px; */
    width: 100%;
    background-color: 
    #6b3d3d; 
    height: fit-content;
}


.Creatorinfo-container .card{
    width: 30rem;
    height: 70vh; 
    margin-top: 2rem;
    margin-bottom: 3rem;
    align-items: center;
    box-shadow: 20;
}

/* 
.card:hover{
    transform: scale(1.1)
    
} */

@media screen and (max-width: 768px) {

    .Creatorinfo-container .card{
        width:fit-content;
        transform: none;
    }

    p {
        font-size: 14px
    }

}