
.info-container {
    /* background: url('/Users/marcpomer/survey-website/public/images/painter.jpg') center center/cover no-repeat; */
    display: flex;
    flex-flow: column;
    align-items: center;
    /* max-width: 1120px; */
    width: 100%;
    background-color: 
    rgba(255, 188, 188, 0.7); 
    height: 100%;
}



.card {
    width: 30rem;
    margin: 40px;
    align-items: center;
    box-shadow: 20;
}

.card:hover{
    transform: scale(1.1)
    
}