
p {
    font-size: 20px
}

.info-container {
    /* background: url('/Users/marcpomer/survey-website/public/images/painter.jpg') center center/cover no-repeat; */
    display: flex;
    flex-flow: column;
    align-items: center;
    /* max-width: 1120px; */
    width: 100%;
    background-color: 
    #6b3d3d; 
    height: fit-content;
}


.card {
    width: 30rem;
    height: 70vh;
    margin-top: 7rem;
    margin-bottom: 7rem;
    align-items: center;
    box-shadow: 20;
}


.card:hover{
    transform: scale(1.1)
    
}

@media screen and (max-width: 768px) {

    .card,.card-container{
        width:fit-content;
        transform: none;
    }

    p {
        font-size: 14px
    }

}