.Subscribe-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    /* max-width: 1120px; */
    width: 100%;
    padding-bottom: 3rem;
    background-color: 
    #ffcbcbc0; 
    height: fit-content;
}



.Slider-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
}


.Button-container{
    width: 80%;
    display: flex;
    flex-flow: column;
    justify-content: right;
    align-items: flex-end;
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.btn.btn--secondary.btn{
    background-color: #ff5f5f ;
}
.btn.btn--secondary.btn:hover{
    background-color: #6b3d3d !important;
}
.range-slider__wrap{
    width: 200%;
}

/* .Subscribe-container p {
    color: #050101c0;

} */

@media screen and (max-width: 768px) {

    .Subscribe-container, .Slider-container{
        width:fit-content;
        transform: none;
    }
    .range-slider__wrap{
        width: 100%;
    }
 
    p {
        font-size: 16px
    } 

}