* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

/* Surveydisplay styling  */
    
.surveyText{
  width: 400rem;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 60px;
  margin-right: 60px;
  align-items: center;

}

  
.surveyContainer{
  background-color: rgba(255, 146, 146, 0.3) ;
  min-height: 90vh ;
  width: 100%;
  display: flex;
  object-fit: fill;
  justify-content: center;
}


/* 
span:first-child{
  font-size: 14px;
  font-style: italic;
  margin-bottom: 2px;
}



.sv_header__text > span{
  font-size: 18px!important;
}
 */
